
<div ng-include="'app/unit/isLogin.html'"></div>
<div class="chat-content" ng-if="service.user.isLogin" chat-list>
    <a href="#chat_room?userId={{friend.user_id}}&backRoute=chat" ng-repeat="friend in service.config.messageList">
        <div>
            <div class="icon img-rounded"  height-equal-width="{{service.url+service.api.file_url+friend.icon}}">
                <span class="text-center" ng-if="friend.unread_count" ng-bind="friend.unread_count"></span>
            </div>
            <div style="padding:5px 12px;-webkit-box-flex: 1;">
                <div style="font-size:18px">
                    <span ng-bind="friend.nickname"></span>
                </div>
                <div style="margin-top:1%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;">
                    <span ng-bind="friend.msg.text"></span>
                </div>
            </div>
            <div class="text-right" style="width:20%">
                <span ng-bind="friend.date | date:'MM-dd'"></span>
            </div>
        </div>
    </a>
</div>
