<div class="yz-rank">
    <div class="top" style="display: table;width: 100%;text-align: center">
        <div style="display: table-cell;width: 33%" ng-class="{'selected':rankType=='day'}" change-rank-data="day">
            <span>每日排行</span>
        </div>
        <div style="display: table-cell;width: 33%" ng-class="{'selected':rankType=='week'}" change-rank-data="week">
            <span>新晋排行</span>
        </div>
        <div style="display: table-cell;width: 33%" ng-class="{'selected':rankType=='all'}" change-rank-data="all">
            <span>总排行</span>
        </div>
    </div>
    <div class="content">
        <!--<a href="#chat_room?userId={{rank.user_id}}&backRoute=yz_rank" ng-repeat="rank in ranks track by rank.icon">-->
        <div class="rank" ng-repeat="rank in ranks track by rank.icon" chat="{{rank.user_id}},yz_rank">
            <div class="number" style="background-color:{{rank.color}}">
                <div style="padding: 0 10px">
                    <span ng-bind="$index+1"></span>
                </div>
                <div style="width: 100%" height-equal-width="{{service.url+service.api.file_url+rank.icon}}"></div>
            </div>

            <div style="-webkit-box-flex: 1;padding: 5px 50px;">
                <span ng-bind="rank.nickname" style="font-size: 20px;color:{{rank.color}}"></span><br>
                <!--<span ng-bind="rank.age||0"></span>岁-->
                <span ng-bind="rank.star"></span>
            </div>
            <div style="">
                <img ng-src="resource/images/xyz/icon-heart-solid.png" width="21px">
                {{rank.yanzhi||0}}
            </div>
        </div>
        <!--</a>-->
    </div>
</div>