<div class="edit-info">
    <form name="form" class="form-horizontal">
        <div class="form-group">
            <label for="nickname" class="control-label col-xs-3 col-xs-offset-1">昵称:</label>
            <div class="col-xs-7">
                <input id="nickname" type="text" class="form-control" ng-model="nickname" ng-pattern="/^\D+.{1,10}$/" required>
            </div>
        </div>
        <div class="form-group">
            <label class="radio-inline col-xs-3 col-xs-offset-1" style="padding-left: 15px">性别:</label>
            <label class="radio-inline col-xs-offset-1">
                <input type="radio" ng-model="sex" ng-value="true">男
            </label>
            <label class="radio-inline">
                <input type="radio" ng-model="sex" ng-value="false">女
            </label>
        </div>
        <div class="form-group">
            <label for="birthday" class="control-label col-xs-3 col-xs-offset-1">生日:</label>
            <div class="col-xs-7">
                <input id="birthday" ng-model="birthday" type="date" class="form-control" required>
            </div>
        </div>
        <div class="form-group">
            <label for="height" class="control-label col-xs-3 col-xs-offset-1">身高<small>(cm)</small>:</label>
            <div class="col-xs-6">
                <input id="height" ng-model="height" type="number" class="form-control">
            </div>
        </div>
        <!--<div class="form-group">-->
            <!--<label for="area" class="control-label col-xs-2 col-xs-offset-1">地区:</label>-->
            <!--<div class="col-xs-8">-->
                <!--<input id="area" type="text" class="form-control" required>-->
            <!--</div>-->
        <!--</div>-->
        <div style="text-align: center">
            <button class="btn btn-default" data-loading-text="修改中" submit-data ng-disabled="form.$invalid">确定</button>
            <button class="btn btn-default" ng-click="reset()">重置</button>
        </div>

    </form>
</div>